<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>菜单详情</title>
        <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    </head>
    <body>
        <div class="layui-fluid " style="margin: 15px">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs3">ID</div>
                <div class="layui-col-xs6">[[${menu.id}]]</div>
            </div>
        </div>
    </body>
</html>