<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>菜单管理</title>
        <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
        <link rel="stylesheet" th:href="@{/style/common.css}" media="all">
        <script th:src="@{/layuiadmin/layui/layui.js}"></script>
    </head>
    <body>

        <div class="layui-card ">
        </div>

        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <!--                        <div class="layui-card-header"></div>-->
                        <div class="layui-card-body">

                            <form class="layui-form " lay-filter="search-from">

                                <div class="pull-left ">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">菜单名称：</label>
                                        <div class="layui-input-inline">
                                            <input class="layui-input" name="name" autocomplete="off">
                                        </div>
                                    </div>


                                </div>
                                <div class="pull-right">
                                    <div class="layui-inline">
                                        <button class="layui-btn" data-type="reload">搜索</button>
                                    </div>
                                </div>
                            </form>

                            <table id="table" class="layui-table" lay-filter="table">

                            </table>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button sec:authorize-url="/menu/edit" class="layui-btn layui-btn-sm" lay-event="add">新增</button>
        </div>
    </script>

    <script type="text/html" id="bar">
        <a sec:authorize-url="/menu/get" class="layui-btn layui-btn-xs" lay-event="info">详情</a>
        <a sec:authorize-url="/menu/edit" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a sec:authorize-url="/menu/delete" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script th:inline="javascript">
        var ctx = /*[[@{/}]]*/'';

        layui.use(['form', "table"], function () {
            var form = layui.form;
            var table = layui.table;

            var cols = [];
            cols.push([ //表头
                {field: 'id', title: '编号', sort: true, fixed: 'left'},
                {field: 'name', title: '菜单名称'},
                {field: 'uri', title: '路径'},
                {field: 'enabled', title: '可用'},
                {field: 'visible', title: '可见'},
                {field: 'sort', title: '排序'},
                {fixed: 'right', title: '操作', toolbar: '#bar', width: '160'}
            ]);

            table.render({
                elem: '#table'
                , id: 'table'
                , url: ctx + 'menu/search' //数据接口
                , method: 'post'
                , page: true //开启分页
                , cols: cols
                , parseData: function (res) {
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.body.totalElements, //解析数据长度
                        "data": res.body.content //解析数据列表
                    };
                }
                , toolbar: '#toolbar'
            });

            window.$ = layui.$;
            var active = {
                reload: function () {
                    var data = form.val("search-from");
                    //执行重载
                    table.reload('table', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: $.extend({}, data)
                    }, 'data');
                }
            };

            //表格重载事件
            $('.layui-form .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            //头工具栏事件
            table.on('toolbar(table)', function (obj) {
                console.log(obj.event);
                if ('add' === obj.event) openEdit();

            });

            //监听提交
            form.on('submit', function (data) {
                console.log(data.field);
                return false;
            });

            //监听行工具事件
            table.on('tool(table)', function (obj) {
                var data = obj.data;
                console.log(obj);
                if (obj.event === 'info') {
                    layer.open({
                        type: 2,
                        content: ctx + 'menu/get?id=' + data.id,
                        area: '500px'
                    });
                } else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.get(ctx + 'menu/delete?id=' + data.id, function (data) {
                            if (data.code === 0) {
                                obj.del();
                            }
                        });
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    openEdit(data.id);
                }
            });

        });

        function reload() {
            $('.layui-form .layui-btn').click();
        }

        /**
         * 打开新增或编辑页面
         * @param id
         */
        function openEdit(id) {
            var config = {
                type: 2,
                title: '编辑',
                content: ctx + 'menu/edit?id=' + id,
                area: ['50%', '80%'],
                btn: ['确认', '取消'],
                yes: function (index, layero) {
                    var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                    iframeWin.submit();
                }
            };

            if (!id) {
                $.extend(config, {
                    title: '新增',
                    content: ctx + 'menu/edit'
                })
            }
            layer.open(config);
        }
    </script>
</html>